body{
    margin: 0;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-image: url(k.jpg);
    background-size: cover;
    
     height: 100vh;
     
 }
 ul{
    font-size: xx-large;
 }